# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Env
.env
.env.local

# Build
dist/
build/

# IDEs / SO
.DS_Store
*.swp
*.swo
.vscode/
.idea/
